.DS_Store
data/selected-OAGCs.gb
data/wzy/all-vs-all-blast
data/eca-pol/all-vs-all-blast
data/waal/all-vs-all-blast
cytoscape
src/ssn-clustering/__pycache__/
.vscode/
*__pycache__*
data/genbank/
explorations
data/roda/blast/
data/csdb