<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ssn_clustering_id}} {{superclustering_id}} - WZY Superclusters</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
.table{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    border-bottom: solid 1px black;
    margin-top: 15px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 0 15px;
}
.column>img{
    width: 100%;
    max-width: fit-content;
}
    </style>
</head>
<body>
    <div class="table">
        {% for supercluster_chunks in supercluster_groups %}
        <div class="row">
            {% for supercluster in supercluster_chunks %}
            {% set supercluster_name = supercluster.name %}
            {% set proteins_in_supercluster = supercluster.size %}
            {% set clusters_in_supercluster = supercluster.count_clusters %}
            {% set conserved_residues = supercluster.conserved_residues_string %}
            {% set sugars_seeds = supercluster.sugar_images_seeds %}
            {% set sugars_blast = supercluster.sugar_images_blast %}
            {% set clustermembers = supercluster.clustermembers %}
            {% set number_of_seeds = supercluster.number_of_seeds %}
            <div class="column">
                <b>Supercluster {{supercluster_name}}</b>
                <p>Number of proteins: {{proteins_in_supercluster}}</p>
                <p>Number of seeds: {{number_of_seeds}}</p>
                <p>Number of clusters: {{clusters_in_supercluster}}</p>
                <p>Conserved residues: {{conserved_residues}} </p>
                {% for clustermember in clustermembers %}
                    <p>Cluster {{clustermember.name}}:</p>
                    <p>Average length: {{clustermember.average_length}}</p>
                    {% for sugar in clustermember.sugar_images_seeds %}
                        <img src="{{sugar.image}}" alt="">
                        <!-- <p>{{sugar.CSDB_ID}}</p> -->
                        {% if sugar.is_bond_correct %}
                            <p>*</p>
                        {% endif %}
                        <!-- <p>{{sugar.equatorial_axial}}</p> -->
                    {% endfor %}
                    {% for sugar in clustermember.sugar_images_blast %}
                        <p>Blast hit sugar: </p>
                        <img src="{{sugar.image}}" alt="">
                        <!-- <p>{{sugar.CSDB_ID}}</p> -->
                        <!-- <p>{{sugar.equatorial_axial}}</p> -->
                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>