<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ssn_clustering_id}} - WZY SSN Clusters</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
.table{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    border-bottom: solid 1px black;
    margin-top: 15px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 0 15px;
}
.column>img{
    width: 100%;
    max-width: fit-content;
}
    </style>
</head>
<body>
    <div class="table">
        {% for cluster_chunks in cluster_groups %}
        <div class="row">
            {% for cluster in cluster_chunks %}
            {% set cluster_name = cluster.name %}
            {% set members_in_cluster = cluster.size %}
            {% set conserved_residues = cluster.conserved_residues %}
            {% set sugars_seeds = cluster.sugar_images_seeds %}
            {% set sugars_blast = cluster.sugar_images_blast %}
            {% set github_cluster_url = cluster.github_cluster_url %}
            <div class="column">
                <a href="{{github_cluster_url}}">Cluster {{cluster_name}}</a>
                <p>Members in cluster: {{members_in_cluster}}</p>
                <p>Conserved residues: {{conserved_residues}} </p>
                {% for sugar in sugars_seeds %}
                    <img src="{{sugar}}" alt="">
                {% endfor %}
                {% for sugar in sugars_blast %}
                <p>Blast hit sugar: </p>
                <img src="{{sugar}}" alt="">
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>